
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

@keyframes arrive {
    from {
      margin-top: -50%;
      width: 300%;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  }
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Hubballi', cursive;
}
html{
    scroll-behavior: smooth;
}
img{
    display: flex;
    width: 10%;
    height: 10%;
    box-shadow: 2px 5px black;
    border-radius: 50%;
    padding: 1%;
}
img:hover{
    transform:scale(1.5);
    transition: 2s ease-in-out;
    cursor: pointer;
}
body{
    margin: 0px;
    padding: 0px;
}

section.top{
    background: url(./images/background.jpg);
    opacity: 0.8;
    border-radius: 10%;
    margin-bottom: 10%;
    padding: 1% 1%;
    margin: 1% 1%;
}
nav{
    display: flex;
    list-style: none;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    max-height: 10%;
}
header{
    max-height: 2%;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-name: arrive;
    animation-iteration-count: 1;
    position: fixed;
    top: 0;
}
section.top h2{
    display: flex;
    justify-content: left;
    width: 30%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
li{
    margin: 1%;
    justify-content: space-between;
}
li:hover{
    transition: 0.3s ease-in-out;
    color: rgb(218, 135, 97);
    cursor: pointer;
    text-shadow: 2px 2px black;
    transform: scale(1.6);
}
.header a{
    color: black;
    text-decoration: none; 
    }
hr{
    margin-left: 40%;
    max-width: 20%;
    margin-bottom: 20px;
    align-items: center;
}
#motivation, #experience, #competences{
    margin-top: 10%;
    text-align: center;
}
#intro{
    margin-top: 20%;
    text-align: center;
}
p{
    font-weight: lighter;
    font-size: large;
    margin-left: 2%;
    margin-right: 2%;
}
#footer{
    height: 200px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20%;
    padding-top: 10px;
    margin-top: 80px;
    margin-bottom: 3%;
}
#footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-size: 60px;
    position: relative;
}
.mail a{
    font-size: 30px;
    width: 30%;
    color: black;
    text-decoration: none;
    position: inherit;
}
.mail a:hover{
    transition: 0.3s ease-in-out;
    border-radius: 20%;
    padding: 3px;
    border-style: groove;
    border-color: black;
    background-color: antiquewhite;
    color: rgb(218, 135, 97);
    cursor: pointer;
    text-shadow: 2px 2px black;
    transform: scale(1.6);
}
.top h2:hover{
    transition: 0.3s ease-in-out;
    color: rgb(218, 135, 97);
    cursor: pointer;
    text-shadow: 2px 2px black;
    transform: scale(1.3);
}